 a:hover {
    color: blue;
 }
 a {
    color:red;
 }
 p:active {
    color:red;
 }
 .input:focus-visible{
    outline-color: green !important;
 }
 #test:focus-visible {
    outline-color: skyblue;
 }
 tr:first-child {
    color:skyblue;
 }
 tr:last-child {
    color:blue;
 }
 tr:nth-child(odd) {
    color: green;
 }
 tr:nth-child(even) {
    color: orange;

 }
 tr:nth-child(3) {
    color: black;
 }
 a:target{
    color: greenyellow;
 }
 tr:nth-child :disabled {
    color:blue;
 }
 th::before {
    content: 'hello';
 }
 td::after {
    content: 'hello';
 }
 .overflow {
    width: 500px;
    height: 500px;
 }
 .overflow::first-letter {
    color:red;
 }
 
 
 .overflow::first-line {
    color: green;
 }
 tr:nth-child :link {
    color: greenyellow;
 }
 tr:nth-last-of-type {
    color:skyblue;
 }